{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
{% endblock %}


{% block pagination %}
{{ block.super }}

<br><br>
<canvas id="LineChart"></canvas>
<canvas id="BarChart"></canvas>
<script>
    var ctx = document.getElementById('LineChart');
    var lineChart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: [{{ current_revenues.labels | safe }}],
        datasets: [
            {
                label: '{{current_revenues.label|safe}}',
                borderColor: '#2B5986',
                data: [{{ current_revenues.data | safe }}]
    },
        {
            label: '{{last_revenues.label|safe}}',
            borderColor: '#999999',
            data: [{{ last_revenues.data | safe }}]
            }
        ]
    },

    // Configuration options go here
    // options: { }
    });

    var ctx2 = document.getElementById('BarChart').getContext('2d');
    var barChart = new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: [{{ weeks_revenue.labels | safe }}],
        datasets: [{
            label: '{{weeks_revenue.label|safe}}',
            data: [{{ weeks_revenue.data | safe }}],
        backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
        ],
        borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
        ],
        borderWidth: 1
    }]
        },
        // options: {
        //     scales: {
        //         yAxes: [{
        //             ticks: {
        //                 beginAtZero: true
        //             }
        //         }]
        //     }
        // }
    });
</script>

{% endblock %}
