{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
{% endblock %}


{% block pagination %}
{{ block.super }}

<br><br>
<canvas id="myChart"></canvas>
<script>
    var ctx = document.getElementById('myChart');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: [{{ current_revenues.labels | safe }}],
        datasets: [
            {
                label: '{{current_revenues.label|safe}}',
                borderColor: '#2B5986',
                data: [{{ current_revenues.data | safe }}]
    },
        {
            label: '{{last_revenues.label|safe}}',
            borderColor: '#999999',
            data: [{{ last_revenues.data | safe }}]
            }
        ]
    },

    // Configuration options go here
    options: { }
    });

</script>

{% endblock %}
