{% extends 'base.html' %}

{% block head_style %}
<style>
    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }

    .logo-copy {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
    }

    .login-block {
        height: 80vh;
    }

    .login-content {
        width: 400px;
        height: 350px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        background-image: rgb(153, 153, 153);
        box-shadow: 1px 1px 6px rgb(109, 109, 109);
    }

    .login-form {
        text-align: center;
    }

    .login-form h4 {
        font-weight: bolder;
        margin-top: 10px;
        margin-bottom: 20px;
        color: black
    }


    .login-form input {
        width: 320px;
        height: 40px;
        margin-bottom: 20px;
        padding: 2px 5%;
        text-decoration: none;
        border: 0 none;
        outline: 0 none;
        border-bottom: solid grey 1px;
        background-color: rgb(255, 255, 255);
    }

    .login-form i {
        margin-right: 10px;
    }

    .btn-login {
        width: 250px;
        height: 40px;
        background-color: rgba(0, 132, 255, 0.911);
        border: 0 none;
        outline: 0 none;
        border-radius: 10px;
        color: white;
        font-size: 15px;
        font-weight: 500;

    }

    .btn-login:hover {
        background: linear-gradient(to bottom right, rgba(0, 132, 255, 0.911), rgb(40, 41, 139))
    }

    .logo-copy {
        width: auto;
        height: 130px;
    }
</style>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="login-block">
    <div class="login-content">
        <img class="logo-copy" src="../../static/img/logocopy.png" alt="Logo-Copystar">
        <form class="login-form" method="post">
            {% csrf_token %}
            <div>
                <i class="fas fa-user"></i><input type="text" name="username" autofocus autocapitalize="none"
                    autocomplete="username" maxlength="150" required id="id_username" placeholder="Username">
            </div>
            <div>
                <i class="fas fa-key"></i><input type="password" name="password" autocomplete="current-password"
                    required id="id_password" placeholder="Password">
                <div class="btn-block"><button class="btn-login" type="submit">Sign in</button>
                </div>
            </div>

        </form>
    </div>
</div>
{% endblock %}