{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Icon -->
    <link rel="shortcut icon" type="image/ico" href="{% static 'img/icon-uenp.png' %}">

    <!-- Link CSS -->
    {% block link_header_css %}
    <link rel="stylesheet" href="{% static 'base_css/navbar.css' %}">
    {% endblock %}

    {% block link_footer_css %}
    <link rel="stylesheet" href="{% static 'base_css/footer.css' %}">
    {% endblock %}

    {% block link_css %}{% endblock %}

    <!-- Google Font -->
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500&display=swap"
        rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>

    <title>{% block title %}{% endblock %}</title>

    {% block head_style %}
    {% endblock %}
    <style>
        * {
            font-family: 'Roboto', sans-serif;
            color: #ffffff;
        }

        div.content {
            min-height: 80vh;
        }
    </style>
</head>

<body>
    <!-- BLOCK HEADER -->
    {% block header %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 30px;">
        <a class="navbar-brand" href="/">Clube de Assinatura</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <div>
                <button class="btn btn-info">
                    <a href="/cart" style="color: #ffffff;">
                        <i class="fas fa-shopping-cart">
                            {% if size_cart %} {{size_cart}} {% else %} 0 {% endif %}
                        </i>
                    </a>
                </button>
                {% if not user.is_authenticated %}
                <button class="btn btn-dark"><a href="/login" style="color: #ffffff;">Login</a></button>
                {% else %}
                <span style="color: black">Hello {{ user.username }}!</span>
                <button class="btn btn-danger"><a href="/logout" style="color: #ffffff;">Logout</a></button>
                {% endif %}
            </div>
        </div>
    </nav>
    {% endblock %}

    <!-- BLOCK CONTENT -->
    {% block content %}{% endblock %}

    <!-- BLOCK FOOTER -->
    {% block footer %}
    <footer class="footer" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div>
                        <a href="#" target="_blank">
                            <i class="fab fa-facebook"></i></a>
                        <a href="#" target="_blank">
                            <i class="fab fa-instagram"></i></a>
                    </div>
                    <div style="margin-top: 10px;">
                        <p>2020&COPY; Clube de Assinatura</p>
                        <div class="border-bottom"></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}

    <!-- BLOCK JS -->
    {% block js %}
    {% endblock %}

    <!-- JS -->
    {% block bootstrap_js %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    {% endblock %}

    <!-- <script language="javascript" src="{% static 'base_css/js/script.js' %}"></script> -->
</body>

</html>