{% extends 'base.html' %}
{% load static %}


{% block content_style %}
<style>
    .search-bar {
        margin-top: 20px;
        margin-bottom: 22px;
    }

    .list-products-bgc {
        background-color: rgb(221, 218, 218);
    }

    .margin-btn-sale {
        margin-left: 10px;
        border-radius: 0px;
    }

    .custom-select-border {
        border-radius: 0px;
    }

    .margin-back-btn {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .list-grup-products {
        margin-top: 30px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center">
        <a class="btn btn-info margin-back-btn" href="{% url 'application:dashboard' %}">Voltar</a>
        <div class="col-8">
            <div class="container search-bar">
                <form action="{% url 'application:sale-fast' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" name="value" class="form-control" placeholder="Pesquisar por nome"
                            aria-label="Pesquisar por nome" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit"
                                id="button-addon2">Pesquisar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 list-products-bgc ">
            <ul class="list-group  overflow-auto list-grup-products" style="height: 70vh;">
                {% for product in products %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <label for="">
                        Código:{{product.code}} <br> {{product.name}}
                    </label>
                    <form action="{% url 'application:sale-fast-create' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="hidden" name="product_id" value="{{ product.pk }}">
                            <input type="number" min="0" required name="quantity" class="form-control"
                                placeholder="Quantidade">
                            <input type="number" min="0" step="0.1" required name="unit_price" class="form-control"
                                value="{{product.price}}" placeholder="Preço">
                            <div class="input-group-append">

                                <select class="custom-select" name="payment_method">
                                    <option selected value="money">Dinheiro</option>
                                    <option value="credit-card">Cartão de Crédito</option>
                                    <option value="debit-card">Cartão de Débito</option>
                                </select>
                            </div>
                            <div class="input-group-append">
                                <select class="custom-select" name="employee_id" id="inputGroupSelect01">
                                    <option selected disabled>------</option>
                                    {% for employee in employees %}
                                    <option value="{{employee.pk}}">{{employee.user.username}}</option>
                                    {% endfor%}
                                </select>
                                <button class=" margin-btn-sale btn btn-success" type="submit">Vender</button>
                            </div>
                        </div>
                    </form>
                </li>
                {%endfor%}
            </ul>

        </div>
    </div>
</div>

{%endblock%}

{% block footer %}

{% endblock %}