{% extends 'base.html' %}
{% load static %}
{% block head_style %}
<style>

</style>
{% endblock %}

{% block content_style %}
<style>
    .search-bar {
        margin-top: 20px;
        margin-bottom: 22px;
    }

    .sale-item a i {
        font-size: 30px;
        padding: 10px;
    }

    .sale-item span {
        font-size: 15px;
    }

    .delete-icon {
        font-size: 20px;
        color: red;
        margin-left: 20px;
    }

    .sales-cart {
        padding: 15px;
        background-color: rgb(201, 201, 201);
    }

    .finish-btn {
        margin-top: 15px;
    }
</style>

{% endblock %}


{% block content %}
<div class="row">
    <div class="col-8">
        <div class="container search-bar">
            <form action="{% url 'application:sale-create' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" name="value" class="form-control" placeholder="Pesquisar por nome"
                        aria-label="Pesquisar por nome" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Pesquisar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <div class="container">
            <ul class="list-group overflow-auto list-sales">
                {% for product in products %}
                <li class="list-group-item align-items-center sale-item">
                    <div class="row ">
                        <div class="col-sm text-xl-left"><span>Código:{{product.code}} <br> {{product.name}}</span>
                        </div>
                        <div class="col-sm"><input type="text" class="form-control" aria-label="Small"
                                aria-describedby="inputGroup-sizing-sm" placeholder="Quantidade"></div>
                        <div class="col-sm"><input type="text" class="form-control" aria-label="Small"
                                aria-describedby="inputGroup-sizing-sm" placeholder="Valor"></div>
                        <div class="col-sm text-xl-right"><a href="#"><i class="fas fa-plus-circle"></i></a></div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="col-4 sales-cart">
        <div class="container">
            <div class="list-group">
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Copia PB</h5>
                    </div>
                    <small class="mb-1">Quantidade : 10 </small>|
                    <small class="text-muted">Valor unitário:0.3</small> |
                    <small class="text-muted">Valor total:3.0</small>
                    <a href=""><i class="fas fa-trash-alt delete-icon"></i></a>
                </div>
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Copia PB</h5>
                    </div>
                    <small class="mb-1">Quantidade : 10 </small>|
                    <small class="text-muted">Valor unitário:0.3</small> |
                    <small class="text-muted">Valor total:3.0</small>
                    <a href=""><i class="fas fa-trash-alt delete-icon"></i></a>
                </div>
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Copia PB</h5>
                    </div>
                    <small class="mb-1">Quantidade : 10 </small>|
                    <small class="text-muted">Valor unitário:0.3</small> |
                    <small class="text-muted">Valor total:3.0</small>
                    <a href=""><i class="fas fa-trash-alt delete-icon"></i></a>
                </div>
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Copia PB</h5>
                    </div>
                    <small class="mb-1">Quantidade : 10 </small>|
                    <small class="text-muted">Valor unitário:0.3</small> |
                    <small class="text-muted">Valor total:3.0</small>
                    <a href=""><i class="fas fa-trash-alt delete-icon"></i></a>
                </div>
                <a class="btn btn-primary finish-btn" href="#">Finalizar Venda</a>
            </div>
        </div>

    </div>
</div>
{%endblock%}

{% block footer %}

{%endblock%}