{% extends 'base.html' %}
{% load static %}
{% block head_style %}
<style>

</style>
{% endblock %}

{% block content_style %}
<style>
    .search-bar {
        margin-top: 20px;
        margin-bottom: 22px;
    }

    .list-products-bgc {
        background-color: rgb(221, 218, 218);
    }

    .margin-btn-sale {
        margin-left: 10px;
        border-radius: 0px;
    }

    .custom-select-border {
        border-radius: 0px;
    }

    .margin-back-btn {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .star-icon {
        color: yellow;
        font-size: 15px;
        margin-left: 5px;
    }
</style>
{% endblock %}

{% block content %}
<div class="row justify-content-center align-items-center">
    <div class="col-8">
        <div class="container search-bar">
            <form action="{% url 'application:sale-fast' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" name="value" class="form-control" placeholder="Pesquisar por nome"
                        aria-label="Pesquisar por nome" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Pesquisar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 list-products-bgc ">
        <div class="container overflow-auto" style="height: 60vh;">
            <a class="btn btn-info margin-back-btn" href="{% url 'application:dashboard' %}">Voltar</a>
            <ul class="list-group">
                {% for product in products %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <label for="">{{product.name}}<i class="fas fa-star star-icon"></i></label>
                    <form action="#" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="number" min="0" required name="quantity" class="form-control"
                                placeholder="Quantidade">
                            <input type="number" required name="unit_price" class="form-control"
                                value="{{product.price}}" placeholder="Preço">
                            <div class="input-group-append">
                                <select class="custom-select" name="employee_id" id="inputGroupSelect01">
                                    <option selected disabled>------</option>
                                    {% for employee in employees %}
                                    <option value="{{employee.user.pk}}">{{employee.user.username}}</option>
                                    {% endfor%}
                                </select>
                                <button class=" margin-btn-sale btn btn-success" type="submit">Vender</button>
                            </div>
                        </div>
                    </form>
                </li>
                {%endfor%}
            </ul>
        </div>
    </div>
</div>


{%endblock%}