{% extends 'base.html' %}
{% load static %}

{% block content_style %}
<style>
    .search-bar {
        margin-top: 20px;
        margin-bottom: 22px;
    }

    .col-select-employee {
        width: 100%;
        height: 40vh;
        margin-top: 30px;
        background-color: rgb(201, 201, 201);
    }

    .btn-next {
        margin-top: 5px;
    }

    .margin-back-btn {
        margin-top: 30px;
    }
</style>

{% endblock %}


{% block content %}

<div class="row justify-content-center align-items-center">
    <div class="col-4 col-select-employee">
        <div class="container ctn-select-employee">
            <form action="{% url 'application:sale-delete-select-employee' %}" method="POST"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <h5>Escolha o vendedor para prosseguir com o cancelamento!</h5>
                    </div>

                    <select class="custom-select" name="employee_id" id="inputGroupSelect01">
                        <option selected disabled>------</option>
                        {% for employee in employees %}
                        <option value="{{employee.pk}}">{{employee.user.username}}</option>
                        {% endfor%}
                    </select>
                </div>
                <button class="btn btn-success btn-block btn-next">Continuar</button>
                <a class="btn btn-info btn-block btn-next" href="{% url 'application:dashboard' %}">Voltar</a>
            </form>

        </div>
    </div>
</div>

{%endblock%}

{% block footer %}

{%endblock%}