{% extends 'base.html' %}
{% load static %}
{% block head_style %}
<style>

</style>
{% endblock %}

{% block content_style %}
<style>
    .sales-part {
        margin-top: 50px;
    }

    .list-sales {
        margin-top: 50px;
    }
</style>

{% endblock %}


{% block header %}
{% if user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="">
            informações adicionais
        </div>
        <div class="">
            <a class="btn btn-danger" href="{% url 'logout' %}">Logout</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="container sales-part ">
    <div class="d-flex justify-content-center">
        <div class="col-4">
            <a class="btn btn-info" href="">Venda Rápida</a>
        </div>
        <div class="col-4">
            <a class="btn btn-info" href="">Venda</a>
        </div>
        <div class="col-4">
            <a class="btn btn-info" href="">Cancelar Venda</a>
        </div>
    </div>
</div>

<div class="container list-sales">
    <div class="">
        <div class="col-12">
            <li><a class="btn btn-primary" href="">Detalhar</a></li>
        </div>
    </div>
</div>
{%endblock%}